<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem id="menu_sublimation_root"
            name="Sublimations"
            action="action_product_template_sublimation"
            sequence="10">

        <menuitem id="menu_sublimation_products_root"
            name="Productos"
            sequence="10">
            <menuitem id="menu_sublimation_products"
                name="Products"
                action="stock.product_template_action_product"
                sequence="10"/>
            <menuitem id="menu_sublimation_products_variant"
                name="Product's Variant"
                action="stock.stock_product_normal_action"
                groups="product.group_product_variant"
                sequence="20"/>
        </menuitem>
    </menuitem>
</odoo>